.main-content
{
-fx-padding:15;
-fx-font-size:18;
}

.pane-title
{
-fx-font-size:23;
-fx-padding:15;
}

VBox
{
-fx-spacing:20;
-fx-background-color: rgb(228,228,226)
}

HBox
{
-fx-padding:10;
-fx-spacing:10;
-fx-font-size:18;
}

.last-leading-pane
{
-fx-padding:10;
-fx-spacing:10;
-fx-font-size:18;
-fx-background-color: rgb(199,199,201)
}

AnchorPane{
-fx-background-color: rgb(199,199,201)
}

.button
{
-fx-background-color: rgb(220,181,68)
}

.jfx-snackbar-content {
    -fx-background-color: RED;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
    -fx-font-size: 20;
}

.jfx-date-picker
{
-jfx-default-color:rgb(220,181,68)
}
.jfx-time-picker
{
-jfx-default-color:rgb(220,181,68)
}
.jfx-text-field
{
-jfx-focus-color:rgb(220,181,68)
}
.jfx-combo-box
{
-jfx-focus-color:rgb(220,181,68)
}